# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
env/
.venv/
venv/

# Local PostgreSQL data
data/


# Custom
Udemy - Build a Backend REST API with Python & Django - Advanced 2021-12/


# DB
*.sqlite3 