Udemy - Build a Backend REST API with Python & Django - Advanced 2021-12/
env/
git,
.gitignore
*.pot
*.py[co]
__pycache__
venv
.env
env
env/
Dockerfile
docker-compose.yaml
README.md
requirements.txt
.github/
Udemy - Build a Backend REST API with Python & Django - Advanced 2021-12/
./app/settings.py
./*/__pycache__/
*.sqlite3
.dockerignore
